* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#draw-canvas {
  border: 1px solid #4682b4;
  cursor:pointer ;
}

.bar {
  width: 802px;
  background-color: #4682b4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.left,
.picker,
.left .size {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.left .size {
  gap: 0.5rem;
}

.picker span p {
  background-color: #4682b4;
  width: 20px;
  height: 20px;
}

.right span,
.input,
.left .size p,
.left .size span {
  background-color: #fff;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

input{
  border: none;
  background-color: #fff;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
